<div *ngIf="showModal" class="modal-shadow">
  <div [class]="'modal-wrapper'">
    <div class="modal-header">
      <h4>{{ title }}</h4>
      <span (click)="closeModal()">
        <i class="fa-solid fa-xmark"></i>
        <fa-icon [icon]="faClose"></fa-icon>
      </span>
    </div>
    <div class="modal-content">
      {{ message }}
    </div>
    <footer>
      <app-button [buttonText]="okButtonText" (click)="ok()"></app-button>
      <app-button [buttonText]="cancelButtonText" (click)="closeModal()"></app-button>
    </footer>
  </div>
</div>
