<div class="login-form-wrapper">
  <div class="login-form">
    <h3>Login</h3>
    <form #loginForm="ngForm" (ngSubmit)="onSubmit(loginForm.value)">
      <div class="login-form-content">
        <div class="form-field">
          <label for="email">Email</label>

          <input type="email" name="email" id="email" placeholder="Input text" ngModel emailValidator required
            [(ngModel)]="model.email" #email="ngModel" />
          <div class="error-message">
            <span *ngIf="email.errors?.['required']">Email is required. </span>
            <span *ngIf="email.errors?.['emailValidator']">Email is invalid.</span>
          </div>

        </div>
        <div class="form-field">
          <label>Password</label>
          <input type="password" name="password" id="password" placeholder="Input text" ngModel required
            [(ngModel)]="model.password" #email="ngModel" />
          <div class="error-message">Password is required.</div>
        </div>
        <div class="login-form-submit">
          <app-button buttonText="Login"></app-button>
        </div>
        <div class="login-form-text">
          If you don't have an account you may<br>
          <strong>Registration</strong>
        </div>
      </div>
    </form>
  </div>
</div>
