.info-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  .info-panel {
    max-width: 500px;
    padding: 20px;
    text-align: center;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    align-items: center;
    gap: 24px;
    & > div:last-child {
      padding-top: 16px;
    }
  }
}
