<app-header>
  Harry Potter
  <app-button [buttonText]="'Logout'"></app-button>
</app-header>

<div class="course-form-wrapper">
  <div class="course-form">
    <h3>Course edit/create page</h3>
    <div class="course-form-content">
      <h5>Main info</h5>
      <form [formGroup]="courseForm" (ngSubmit)="onSubmit()">

        <div class="form-field">
          <label for="title">Title</label>
          <input type="text" name="title" id="title" placeholder="Input text" formControlName="title" />
          <div class="error-message" *ngIf="(f['title'].dirty || f['title'].touched) && f['title'].errors">
            <div *ngIf="f['title'].errors['required']">Title is required.</div>
          </div>
        </div>

        <div class="form-field">
          <label>Description</label>
          <textarea type="text" name="description" placeholder="Input text" formControlName="description"></textarea>
          <div class="error-message"
            *ngIf="(f['description'].dirty || f['description'].touched) && f['description'].errors">
            <div *ngIf="f['description'].errors['required']">Description is required.</div>
          </div>
        </div>

        <div class="hr"></div>
        <h5>Authors</h5>
        <div class="add-panel">

          <div class="form-field">
            <label>Author Name</label>
            <input type="text" name="name" placeholder="Input text" formControlName="courseAuthors" />
            <div class="error-message">Description is required.</div>
          </div>
          <app-button [buttonText]="'Create Author'" (click)="addAuthors()"></app-button>

        </div>
        <div class="form-field">
          <label>Authors List</label>

          <ng-container formArrayName="authors">
            <div *ngFor="let newAuthor of authors.controls; let i=index" class="tag">
              <div [formGroupName]="i">
                <div>
                  Author One
                </div>
                <input id="authorName" formControlName="authorName">
                <fa-icon [icon]="faClose" (click)="removeAuthor(i)"></fa-icon>
              </div>
            </div>
          </ng-container>

        </div>

        <div class="hr"></div>
        <h5>Duration</h5>

        <div class="add-panel">
          <div class="form-field">
            <label>Duration</label>
            <input type="number" name="duration" placeholder="Input text" formControlName="duration" />

            <div class="error-message"
              *ngIf="(f['duration'].dirty || f['duration'].touched || onSubmit) && f['duration'].errors">
              <div *ngIf="f['duration'].errors['required']">Duration is required.</div>
              <div *ngIf="f['duration'].errors['min']">Shoud be > 0.</div>
            </div>
          </div>
          <div>
            <strong>00:00</strong> hours
          </div>
        </div>

        <div class="course-form-actions">
          <app-button [buttonText]="'Cancel'"></app-button>
          <app-button type="submit" [buttonText]="'Create Course'"></app-button>
        </div>
      </form>
    </div>
  </div>
</div>
